/* styles.css */

body {
    font-family: Arial, sans-serif;
    color: #43145e;
    margin: 0;
    padding: 0;
    background-color: #e5b3dd;

}

header {
    background-color: #c04caa;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav {
    background-color: #d783cb;
    color: white;
    padding: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#contenido {
    background-color: #d783cb;
    padding: 20px;
}

footer {
    background-color: #c04caa;
    color: white;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}
